module.exports = {
  darkSkyAPIKey: "YOUR_API_KEY",
    twitter: {
    accessToken: "YOUR_ACCESS_TOKEN",
    accessTokenSecret: "YOUR_ACCESS_TOKEN_SECRET",
    apiKey: "YOUR_API_KEY",
    apiSecretKey: "YOUR_API_SECRET_KEY"
  }
}
